.box {
  display: flex;
  align-items: center;
}
.label {
}
.file {
  margin-left: 20px;
}
.date {
  margin-left: -50px;
}
.button {
  height: 30px;
  width: 70px;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
}
